@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');

:root {
    --corheader: #1c2d54;
    --corcta: #fa0303;
    --corbackground: #000;
    --cordestaque: #22615c;
    --corletter: #fff;
    
    --font-atention: 'Fredericka the Great', cursive;
    --font-destaque: 'Cinzel Decorative', cursive;
    --font-standard: Arial, 'sans-serif';
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--corbackground);
    color: var(--corletter);
    height: 100vh;
}

header {
    width: 100%;
    background: var(--corheader);
}

.header-div {
    display: inline-block;
    vertical-align: middle;
}

.header-div a {
    color: var(--corcta);
    font-size: 50px;
    font-family: var(--font-atention);
    text-decoration: none;
    padding: 15px;
}

.header-nav {
    display: inline-block;
    width: calc(100% - 180px);
    text-align: right;
    vertical-align: middle;
}

.header-nav__ul {
    display: inline-block;
    
}

.header-nav__ul--item {    
    text-decoration: none;
    display: inline-block;
    margin: 0 12px;
    background-color: var(--cordestaque);
    padding: 8px 16px;
    border-radius: 18px;
    border-right: 2px solid #0f1629;
    border-bottom: 4px solid #172341;
}

.header-nav__ul--item:active {
    border: transparent;
    margin-left: 14px;
}

/*.header-nav__ul--item:active {
    border-style: groove;
    box-shadow: inset 2px 2px 2px #0f1629;
    padding: 4px 13px;
}*/
/*I wanted to use this to :active for the main bottons*/

.header-nav__ul--item-a {
    text-decoration: none;
    font-family: var(--font-standard);
    color: var(--corletter);
    font-weight: bold;
    font-size: 20px;
}

#sec1 {
    height: 700px;
    background-color: #22615c;
    padding: 15px;
}

#sec1 h1{
    font-family: var(--font-atention);
    font-size: 4em;
    color: var(--corbackground);
    margin-top: 78px;
    margin-left: 117px;
}

#sec1 p{
    font-family: var(--font-destaque);
    font-size: 2.3em;
    color: var(--corbackground);
    position: absolute;
    top: 45%;
    left: 5%;
    max-width: 777px;
}

#sec2 {
    height: 700px;
    background-image: url("freedom.jpg");
    background-position: center top;
    background-size: auto;
    background-attachment: fixed;
    box-shadow: inset 2px 2px 9px rgba(0, 0, 0, 0.685), inset -2px -2px 9px rgba(0, 0, 0, 0.685);
}


#sec2 p {
    font-family: var(--font-destaque);
    color: #0f1629;
    font-size: 2em;
    /*line-height: 1.1px;*/
    max-width: 500px;
    position: absolute;
    top: 104%;
    right: 12%;
}

#sec3 {
    height: 700px;
    background-color: var(--corletter);
    padding: 15px;
}

#sec3 p{
    font-family: var(--font-destaque);
    color: #0f1629;
    font-size: 1.5em;
    font-weight: 900;
    position: absolute;
    top: 170%;
    max-width: 794px;
    margin-left: 42px;
}

footer {
    background-color: var(--corheader);
    padding: 6px;
    text-align: center;
}

footer a {
    color: var(--corletter);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

footer a:hover {
    text-decoration: underline;
}

/*footer::after {
     content: (' ↷');
}*/